$bt-bl: hsl(220, 98%, 61%);
$gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// light theme

$vr-lt-gy: hsl(0, 0%, 98%);
$vr-lt-gyish-bl: hsl(236, 33%, 92%);
$lt-gyish-bl: hsl(233, 11%, 84%);
$dk-gyish-bl: hsl(236, 9%, 61%);
$vr-dk-gyish-blue: hsl(235, 19%, 35%);

// dark theme

$dark-vr-dk-bl: hsl(235, 21%, 11%);
$dark-vr-dk-ds-bl: hsl(235, 24%, 19%);
$dark-lt-gyish-bl: hsl(234, 39%, 85%);
$dark-lt-gyish-bl-hvr: hsl(236, 33%, 92%);
$dark-dk-gyish-bl: hsl(234, 11%, 52%);
$dark-vr-dk-gyish-blue: hsl(233, 14%, 35%);
$dark-vr-dk-gyish-bl: hsl(237, 14%, 26%);
